@import '../../partials/variables';
@import '../../partials/animations';
@import '../../partials/global';

.pro {
  display: flex;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-1;
    width: 30%;
    height: 100vh;
  }

  &__list {
    list-style: none;
  }

  &__work {
    color: $primary-color-1;
    margin-bottom: .5rem;
    font-size: 1.5rem;

    &:hover {
      color: $secondary-color-2;
      cursor: pointer;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-color: $primary-color-1;
    width: 70%;
    height: 100vh;
  }

  &__title {
    display: flex;
    align-items:center;
    text-decoration: none;
    color: $secondary-color-1;
  }

  &__arrow {
    margin-left: 1rem;
    font-size: larger;
    animation: slide 3s ease-in infinite;
  }

  &__description {
    font-size: 1.5rem;
    margin: .5rem 0;
    font-weight: 600;
  }
}