.skills{
  width: 95%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  animation-name: appear;
  animation-duration: 10s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


  &__logo{
    width: 3.125rem;
    height: 3.125rem;
    margin: .5rem;
  }
}