$breakpointbetween-mobile-tablet: 460px;
$breakpointtablet: 760px;
$breakpointbetween-tablet-desktop: 900px;
// $breakpointgallery: 1000px;
$breakpointdesktop: 1280px;


$primary-color-1: #e4dadf; //soft pink
$primary-color-2: #929fa6; //soft grey-blue
$primary-color-3: #485864; //dark blue-grey 
$secondary-color-1: #14213d;
$secondary-color-2: #fca311;
$secondary-color-3: #e5e5e5;

$black: #000000;
$white: #ffffff;

$muted-blue:#c1d5de;
$muted-salmon: #eebab2;
$muted-green: #ccd4bf;
$muted-yellow: #f7f6cf;

$eggshell-websafe: #ffffcc; //blend white and beige
// #ee7752, #e73c7e, #23a6d5, #23d5ab